/twitter_nlp/
/.idea/
*/*.pyc

scripts/log/

scripts/model/

scripts/model_d/

data/test_np\.npy

data/train_np\.npy

data/test_np_v3\.npy

data/train_np_v3\.npy

data/test_np_v2\.npy

data/train_np_v2\.npy

data/test_in_np\.npy

data/test_out_np\.npy

data/train_in_np\.npy

data/train_out_np\.npy
